@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

[data-scroll-lock] ._lock-padding {
  @media (any-hover: hover) {
    padding-right: var(--scrollbar-width);
  }
}

body {
  padding-top: 120px;
  font-family: 'Poppins', sans-serif;
}

.router-animate {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 auto;
}

.page-content {
  padding: 14px 16px 142px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;

  &:before,
  &:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    pointer-events: none;
    z-index: 5;
  }

  &:before {
    top: 0;
    transform: rotate(180deg);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(45, 35, 8, 0.9) 100%);
  }

  &:after {
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(45, 35, 8, 0.9) 100%);
  }

  @media (max-width: 424.98px) {
    padding: 12px 12px 138px;
  }

  @media (max-width: 374.98px) {
    padding: 12px 12px 118px;
  }
}

._container {
  margin: 0 auto;
  padding: 0 22px;
  max-width: 430px;
}
